.blue-gradient {
  background: -moz-linear-gradient(left, #1e5799 0%, #7db9e8 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #1e5799 0%, #7db9e8 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #1e5799 0%, #7db9e8 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e5799', endColorstr='#7db9e8', GradientType=1);
  /* IE6-9 */
}
.blue-grey-gradient {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#85b2d3+0,a7c7dc+100 */
  background: #85b2d3;
  /* Old browsers */
  background: -moz-linear-gradient(left, #85b2d3 0%, #a7c7dc 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #85b2d3 0%, #a7c7dc 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #85b2d3 0%, #a7c7dc 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#85b2d3', endColorstr='#a7c7dc', GradientType=1);
  /* IE6-9 */
}
.gold-gradient {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#eab92d+0,c79810+100;Yellow+3D+%232 */
  background: #eab92d;
  /* Old browsers */
  background: -moz-linear-gradient(top, #eab92d 0%, #c79810 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #eab92d 0%, #c79810 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #eab92d 0%, #c79810 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eab92d', endColorstr='#c79810', GradientType=0);
  /* IE6-9 */
}
.box-shadow-blue-grey {
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.4);
}
.btn-primary-forced {
  background-image: -webkit-linear-gradient(top, #337ab7 0%, #265a88 100%) !important;
  background-image: -o-linear-gradient(top, #337ab7 0%, #265a88 100%) !important;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#337ab7), to(#265a88)) !important;
  background-image: linear-gradient(to bottom, #337ab7 0%, #265a88 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff265a88', GradientType=0) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false) !important;
  background-repeat: repeat-x !important;
  border-color: #245580 !important;
  color: white !important;
  text-shadow: none !important;
  background-color: none !important;
}
.btn-primary-forced:hover {
  background-color: #265a88 !important;
  background-position: 0 -15px !important;
}
.btn-primary-forced:focus {
  background-position: unset !important;
}
/*
    The custom checkbox has the following HTML after the plugin has operated on the label and
    input elements.

    <label class="is-custom-checkbox [is-custom-checkbox-vertical]" >One
       <input type="checkbox" class="is-custom-checkbox" >
       <span class="is-custom-checkbox"></span> 
    </label>



*/
.is-custom-checkbox-vertical {
  display: block;
  /* 1 checkbox per line */
}
/* Customize the label (the container) */
label.is-custom-checkbox {
  position: relative;
  /* allow custom checkbox to be positioned within the label */
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* No text selection */
}
/* Hide the browser's default checkbox */
label.is-custom-checkbox input.is-custom-checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
/* Create a custom checkbox - from a span element adjacent to the input checkbox. */
label.is-custom-checkbox span.is-custom-checkbox {
  position: absolute;
  top: 3px;
  left: 4px;
  /* Allow for hover box shadow to show even with no margin or padding for the element.*/
  height: 25px;
  width: 25px;
  background-color: white;
  box-shadow: 0px 0px 0 4px #85b2d3;
}
/* On mouse-over, add a grey background color */
label.is-custom-checkbox:hover input.is-custom-checkbox ~ span.is-custom-checkbox {
  background-color: #eee;
}
/* When the checkbox is checked, add a white background */
label.is-custom-checkbox input.is-custom-checkbox:checked ~ span.is-custom-checkbox {
  background-color: white;
}
/* Create the checkmark/indicator (hidden when not checked) */
span.is-custom-checkbox:after {
  content: "";
  position: absolute;
  display: none;
}
/* Show the checkmark when checked */
label.is-custom-checkbox input.is-custom-checkbox:checked ~ span.is-custom-checkbox:after {
  display: block;
}
/* Style the checkmark/indicator */
label.is-custom-checkbox span.is-custom-checkbox:after {
  left: 8px;
  top: 0px;
  width: 10px;
  height: 20px;
  border: solid #337ab7;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}