.blue-gradient {
  background: -moz-linear-gradient(left, #1e5799 0%, #7db9e8 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #1e5799 0%, #7db9e8 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #1e5799 0%, #7db9e8 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e5799', endColorstr='#7db9e8', GradientType=1);
  /* IE6-9 */
}
.blue-grey-gradient {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#85b2d3+0,a7c7dc+100 */
  background: #85b2d3;
  /* Old browsers */
  background: -moz-linear-gradient(left, #85b2d3 0%, #a7c7dc 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #85b2d3 0%, #a7c7dc 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #85b2d3 0%, #a7c7dc 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#85b2d3', endColorstr='#a7c7dc', GradientType=1);
  /* IE6-9 */
}
.gold-gradient {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#eab92d+0,c79810+100;Yellow+3D+%232 */
  background: #eab92d;
  /* Old browsers */
  background: -moz-linear-gradient(top, #eab92d 0%, #c79810 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #eab92d 0%, #c79810 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #eab92d 0%, #c79810 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eab92d', endColorstr='#c79810', GradientType=0);
  /* IE6-9 */
}
.box-shadow-blue-grey {
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.4);
}
.btn-primary-forced {
  background-image: -webkit-linear-gradient(top, #337ab7 0%, #265a88 100%) !important;
  background-image: -o-linear-gradient(top, #337ab7 0%, #265a88 100%) !important;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#337ab7), to(#265a88)) !important;
  background-image: linear-gradient(to bottom, #337ab7 0%, #265a88 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff265a88', GradientType=0) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false) !important;
  background-repeat: repeat-x !important;
  border-color: #245580 !important;
  color: white !important;
  text-shadow: none !important;
  background-color: none !important;
}
.btn-primary-forced:hover {
  background-color: #265a88 !important;
  background-position: 0 -15px !important;
}
.btn-primary-forced:focus {
  background-position: unset !important;
}
.img-center {
  margin: 0 auto;
  display: block;
}
.footer-section {
  position: relative;
  z-index: 50;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#85b2d3+0,a7c7dc+100 */
  background: #85b2d3;
  /* Old browsers */
  background: -moz-linear-gradient(left, #85b2d3 0%, #a7c7dc 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #85b2d3 0%, #a7c7dc 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #85b2d3 0%, #a7c7dc 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#85b2d3', endColorstr='#a7c7dc', GradientType=1);
  /* IE6-9 */
  color: black;
}
.footer-section .image-row img {
  margin: 0 auto;
  display: block;
}
.footer-section .copyright-row {
  text-align: center;
  margin-top: 10px;
  font-size: 18px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.footer-section .copyright {
  margin-right: 20px;
}
.footer-section ul.copyright-menu-col {
  list-style: none;
  display: inline-block;
  margin: 0;
  margin-bottom: 2px;
  padding: 0;
}
.footer-section ul.copyright-menu-col > li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}
.footer-section ul.copyright-menu-col > li a {
  color: black;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  padding-left: 5px;
  padding-right: 5px;
}
.footer-section ul.copyright-menu-col > li a:hover,
.footer-section ul.copyright-menu-col > li a:focus,
.footer-section ul.copyright-menu-col > li a:active {
  outline: 0;
  color: black;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.4);
}
.footer-section .footer-menu-row {
  display: inline-block;
  vertical-align: top;
  text-align: left;
}
.footer-section .footer-menu-rows {
  text-align: center;
  vertical-align: top;
}
.footer-section .footer-menu-rows h2 {
  font-size: 16px;
  line-height: 16px;
  color: black;
  display: block;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 5px;
  padding-right: 5px;
  margin: 10px 10px;
  font-weight: bold;
  text-align: left;
}
.footer-section ul.footer-menu-col {
  list-style: none;
  margin: 10px 10px;
  margin-top: 0px;
  text-align: left;
  padding: 0px;
}
.footer-section ul.footer-menu-col > li {
  text-align: left;
}
.footer-section ul.footer-menu-col > li a {
  font-size: 16px;
  line-height: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  color: black;
  display: block;
  white-space: nowrap;
  text-align: left;
}
.footer-section ul.footer-menu-col > li a:hover,
.footer-section ul.footer-menu-col > li a:focus,
.footer-section ul.footer-menu-col > li a:active {
  outline: 0;
  color: black;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.4);
}