.blue-gradient {
  background: -moz-linear-gradient(left, #1e5799 0%, #7db9e8 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #1e5799 0%, #7db9e8 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #1e5799 0%, #7db9e8 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e5799', endColorstr='#7db9e8', GradientType=1);
  /* IE6-9 */
}
.blue-grey-gradient {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#85b2d3+0,a7c7dc+100 */
  background: #85b2d3;
  /* Old browsers */
  background: -moz-linear-gradient(left, #85b2d3 0%, #a7c7dc 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #85b2d3 0%, #a7c7dc 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #85b2d3 0%, #a7c7dc 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#85b2d3', endColorstr='#a7c7dc', GradientType=1);
  /* IE6-9 */
}
.gold-gradient {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#eab92d+0,c79810+100;Yellow+3D+%232 */
  background: #eab92d;
  /* Old browsers */
  background: -moz-linear-gradient(top, #eab92d 0%, #c79810 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #eab92d 0%, #c79810 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #eab92d 0%, #c79810 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eab92d', endColorstr='#c79810', GradientType=0);
  /* IE6-9 */
}
.box-shadow-blue-grey {
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.4);
}
.btn-primary-forced {
  background-image: -webkit-linear-gradient(top, #337ab7 0%, #265a88 100%) !important;
  background-image: -o-linear-gradient(top, #337ab7 0%, #265a88 100%) !important;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#337ab7), to(#265a88)) !important;
  background-image: linear-gradient(to bottom, #337ab7 0%, #265a88 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff265a88', GradientType=0) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false) !important;
  background-repeat: repeat-x !important;
  border-color: #245580 !important;
  color: white !important;
  text-shadow: none !important;
  background-color: none !important;
}
.btn-primary-forced:hover {
  background-color: #265a88 !important;
  background-position: 0 -15px !important;
}
.btn-primary-forced:focus {
  background-position: unset !important;
}
.m-center {
  text-align: center;
}
.m-left {
  text-align: left;
}
.m-right {
  text-align: right;
}
.m-hide {
  display: none;
}
.m-show {
  display: block;
}
.m-show-inline,
.m-ib {
  display: inline-block;
}
.m-line-height-10 {
  line-height: 10px;
}
.m-clear-both {
  clear: both;
}
.m-w-32 {
  width: 32px;
}
.m-fs-32 {
  font-size: 32px;
}
.m-lh-32 {
  line-height: 32px;
}
.m-circle {
  border-radius: 50%;
  display: inline-block;
  width: 32px;
  font-size: 26px;
  line-height: 32px;
  padding-left: 8px;
  margin-right: 6px;
  color: black;
  background-color: lightblue;
}
.m-circle.correct {
  background-color: green;
}
.m-circle.wrong {
  background-color: red;
}
.page-section + .user-survey-section {
  margin-top: 20px;
}
.user-survey-section .w-100 {
  width: 100%;
}
.user-survey-section .question-mark {
  font-size: 32px;
  display: inline-block;
  width: 32px;
  line-height: 32px;
  color: #337ab7;
}
.user-survey-section .question-text {
  display: inline-block;
  font-size: 32px;
  line-height: 32px;
  color: #337ab7;
}
.user-survey-section .question-result {
  font-size: 32px;
  display: inline-block;
  width: 32px;
  line-height: 32px;
}
.user-survey-section .panel-default > .panel-heading {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#85b2d3+0,a7c7dc+100 */
  background: #85b2d3 !important;
  /* Old browsers */
  background: -moz-linear-gradient(left, #85b2d3 0%, #a7c7dc 100%) !important;
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #85b2d3 0%, #a7c7dc 100%) !important;
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #85b2d3 0%, #a7c7dc 100%) !important;
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#85b2d3', endColorstr='#a7c7dc', GradientType=1) !important;
  /* IE6-9 */
  background-image: none;
}
.user-survey-section .answers-panel.panel-default > .panel-heading {
  padding: 1px 15px;
}
.user-survey-section .answers-panel.panel-default > .panel-body {
  padding: 0;
}
.user-survey-section .panel-body h1,
.user-survey-section .panel-body h2,
.user-survey-section .panel-body h3,
.user-survey-section .panel-body h4,
.user-survey-section .panel-body h5,
.user-survey-section .panel-body h6 {
  margin: 0px;
}
.user-survey-section .user-questions-content .btn-info {
  background: #85b2d3;
}
.user-survey-section .user-questions-content .question-actions-container button,
.user-survey-section .user-questions-content .finished-actions-container button {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}
.user-survey-section .user-questions-content .finished-actions-container:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
}
.user-survey-section .user-questions-content .user-answer-radio {
  width: 100% !important;
  min-height: 16px;
}
.user-survey-section .user-questions-content .user-answer-label {
  display: block;
  width: 100%;
  height: 100%;
  min-height: 16px;
  cursor: pointer;
}
.user-survey-section .user-questions-content .progress {
  margin-bottom: 0px;
}
.user-survey-section .user-questions-content .well {
  background: #85b2d3;
  margin-top: 10px;
  margin-bottom: 10px;
}
.user-survey-section .user-questions-content .user-answers-rows {
  font-size: 16px;
  line-height: 16px;
}
.user-survey-section .user-questions-content .user-answers-rows label {
  font-weight: 400;
  margin: 0px;
}
.user-survey-section .user-questions-content .user-answers-rows .user-answer-row {
  padding: 5px;
  border-bottom: 2px solid #EAEDED;
  min-height: 38px;
}
.user-survey-section .user-questions-content .user-answers-rows .user-answer-row .user-answer-choice {
  min-height: 31px;
}
.user-survey-section .user-questions-content .user-answers-rows .user-answer-row .user-answer-text {
  padding-top: 6px;
  padding-bottom: 6px;
}
.user-survey-section .user-questions-content .user-answers-rows .user-answer-row .user-answer-text .user-answer-currency-label {
  line-height: 24px;
}
.user-survey-section .user-questions-content .user-answers-rows .user-answer-row .user-answer-choice-letter {
  display: inline-block;
  width: 20px;
  padding-top: 6px;
  padding-left: 6px;
  font-size: 18px;
}
.user-survey-section .user-questions-content .user-answers-rows .user-answer-row.correct {
  background-color: lightgreen;
}
.user-survey-section .user-questions-content .user-answers-rows .user-answer-row.wrong {
  border-top: 2px solid red;
  border-left: 2px solid red;
  border-right: 2px solid red;
  border-bottom: 2px solid red;
  background-color: pink;
}
.user-survey-section .user-questions-content .user-answers-rows .user-answer-row:last-child {
  border-bottom: none;
}
.user-survey-section .user-questions-content .user-answers-rows .user-answer-row.wrong:last-child {
  border-bottom: 2px solid red;
}
.user-survey-section .user-questions-content .question-correct {
  color: green;
}
.user-survey-section .user-questions-content .question-wrong {
  color: red;
}
.user-survey-section .quiz-finished .panel-default > .panel-body {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
.user-survey-section .quiz-finished .user-summary-rows > .user-summary-row:nth-of-type(even) {
  background-color: #f9f9f9;
}
.user-survey-section .quiz-finished .user-summary-rows > .user-summary-row:not(:first-child):hover {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#85b2d3+0,a7c7dc+100 */
  background: #85b2d3 !important;
  /* Old browsers */
  background: -moz-linear-gradient(left, #85b2d3 0%, #a7c7dc 100%) !important;
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #85b2d3 0%, #a7c7dc 100%) !important;
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #85b2d3 0%, #a7c7dc 100%) !important;
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#85b2d3', endColorstr='#a7c7dc', GradientType=1) !important;
  /* IE6-9 */
}
.user-survey-section .quiz-finished .user-summary-rows .user-summary-row:first-child {
  font-weight: bold;
}
.user-survey-section .quiz-finished .user-summary-rows .user-summary-row {
  padding: 5px;
  border-bottom: 2px solid #EAEDED;
}
.user-survey-section .quiz-finished .user-summary-rows .user-summary-row .user-summary-question,
.user-survey-section .quiz-finished .user-summary-rows .user-summary-row .user-summary-id,
.user-survey-section .quiz-finished .user-summary-rows .user-summary-row .user-summary-selected-answer {
  line-height: 32px;
}
.user-survey-section .quiz-finished .user-summary-rows .user-summary-row:last-child {
  border-bottom: none;
}
.user-survey-section .your-details .buttons-container {
  padding: 10px;
}
.user-survey-section .your-details .buttons-container:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
}
.user-survey-section .your-details input.ng-invalid {
  background: pink;
}
.user-survey-section .your-details .panel-default > .panel-body {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
.user-survey-section .your-details .user-header-rows {
  font-size: 22px;
}
.user-survey-section .your-details .user-header-rows > .user-header-row:nth-of-type(even) {
  background-color: #f9f9f9;
}
.user-survey-section .your-details .user-header-rows > .user-header-row > div:first-child {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#85b2d3+0,a7c7dc+100 */
  background: #85b2d3 !important;
  /* Old browsers */
  background: -moz-linear-gradient(left, #85b2d3 0%, #a7c7dc 100%) !important;
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #85b2d3 0%, #a7c7dc 100%) !important;
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #85b2d3 0%, #a7c7dc 100%) !important;
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#85b2d3', endColorstr='#a7c7dc', GradientType=1) !important;
  /* IE6-9 */
}
.user-survey-section .your-details .user-header-row {
  line-height: 40px;
}
.user-survey-section .your-details .user-header-row input {
  line-height: 32px;
  width: 100%;
}
.user-survey-section .your-details .user-header-row:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.user-survey-section .your-details .user-header-key {
  font-weight: bold;
  border-bottom: 1px solid #ddd;
}
.user-survey-section .your-details .user-header-required {
  border-bottom: 1px solid #ddd;
}
.user-survey-section .your-details .user-header-value {
  border-bottom: 1px solid #ddd;
}
.user-survey-section .survey-report .panel-default > .panel-body {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
.user-survey-section .survey-report .user-header-rows {
  font-size: 22px;
}
.user-survey-section .survey-report .user-header-rows > .user-header-row:nth-of-type(even) {
  background-color: #f9f9f9;
}
.user-survey-section .survey-report .user-header-rows > .user-header-row > div:first-child {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#85b2d3+0,a7c7dc+100 */
  background: #85b2d3 !important;
  /* Old browsers */
  background: -moz-linear-gradient(left, #85b2d3 0%, #a7c7dc 100%) !important;
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #85b2d3 0%, #a7c7dc 100%) !important;
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #85b2d3 0%, #a7c7dc 100%) !important;
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#85b2d3', endColorstr='#a7c7dc', GradientType=1) !important;
  /* IE6-9 */
}
.user-survey-section .survey-report .user-header-key {
  line-height: 32px;
  font-weight: bold;
  border-bottom: 1px solid #ddd;
}
.user-survey-section .survey-report .user-header-value {
  line-height: 32px;
  border-bottom: 1px solid #ddd;
}
.user-survey-section .survey-report .user-summary-rows > .user-summary-row:nth-of-type(even) {
  background-color: #f9f9f9;
}
.user-survey-section .survey-report .user-summary-rows > .user-summary-row:not(:first-child):hover {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#85b2d3+0,a7c7dc+100 */
  background: #85b2d3 !important;
  /* Old browsers */
  background: -moz-linear-gradient(left, #85b2d3 0%, #a7c7dc 100%) !important;
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #85b2d3 0%, #a7c7dc 100%) !important;
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #85b2d3 0%, #a7c7dc 100%) !important;
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#85b2d3', endColorstr='#a7c7dc', GradientType=1) !important;
  /* IE6-9 */
}
.user-survey-section .survey-report .user-summary-rows {
  font-size: 22px;
}
.user-survey-section .survey-report .user-summary-rows .user-summary-row:first-child {
  font-weight: bold;
}
.user-survey-section .survey-report .user-summary-rows .user-summary-row {
  border-bottom: 2px solid #EAEDED;
}
.user-survey-section .survey-report .user-summary-rows .user-summary-row .user-summary-question,
.user-survey-section .survey-report .user-summary-rows .user-summary-row .user-summary-id,
.user-survey-section .survey-report .user-summary-rows .user-summary-row .user-summary-answer,
.user-survey-section .survey-report .user-summary-rows .user-summary-row .user-summary-response-count,
.user-survey-section .survey-report .user-summary-rows .user-summary-row .user-summary-response-pc-detail,
.user-survey-section .survey-report .user-summary-rows .user-summary-row .user-summary-response-pc,
.user-survey-section .survey-report .user-summary-rows .user-summary-row .user-summary-response-pc-header {
  line-height: 32px;
}
.user-survey-section .survey-report .user-summary-rows .user-summary-row .user-summary-response-pc {
  position: relative;
  border: 1px solid black;
  height: 32px;
}
.user-survey-section .survey-report .user-summary-rows .user-summary-row .user-summary-response-pc .user-summary-response-pc-progress {
  display: inline-block;
  top: 0;
  left: 0;
  bottom: 0;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#eab92d+0,c79810+100;Yellow+3D+%232 */
  background: #eab92d;
  /* Old browsers */
  background: -moz-linear-gradient(top, #eab92d 0%, #c79810 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #eab92d 0%, #c79810 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #eab92d 0%, #c79810 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eab92d', endColorstr='#c79810', GradientType=0);
  /* IE6-9 */
  position: absolute;
  z-index: 1;
}
.user-survey-section .survey-report .user-summary-rows .user-summary-row .user-summary-response-pc .user-summary-response-pc-label {
  display: inline-block;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  position: absolute;
  z-index: 2;
}
.user-survey-section .survey-report .user-summary-rows .user-summary-row .user-summary-question {
  font-weight: bold;
}
.user-survey-section .survey-report .user-summary-rows .user-summary-row:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.user-survey-section .survey-report .user-summary-rows .user-summary-row:last-child {
  border-bottom: none;
}